$tab-width: 60px;
$tab-padding: 10px;
$tab-height: $tab-width * 2;
$tab-border-radius: 12px;
$tab-empty-color: darken($bg-color, 35%);
$tab-transition: all 200ms ease, height 500ms ease, width 500ms ease;

#Tabs
{
  height: 100vh;
  width: $tab-width;
  min-width: 50px;
  padding-top: 10vh;
  padding-left: $tab-padding;
  .Tabs
  {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-gap: $tab-border-radius;
    z-index: 3;

    .Tab
    {
      width: $tab-width - $tab-padding;
      cursor: pointer;
      border-top-left-radius: $tab-border-radius;
      border-bottom-left-radius: $tab-border-radius;
      position: relative;
      transition: $tab-transition;

      p
      {
        @extend %center-flex;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: $tab-padding;
        height: $tab-width - $tab-padding;
        transform-origin: 0 0;
        color: rgba(white, 0.80);
      }

      &:not(.Empty)
      {
        height: $tab-height;
        background-color: $tab-empty-color;
        p
        {
          width: $tab-height;
          transform: rotate(-90deg) translate(-$tab-height);
        }
      }

      &.Empty
      {
        height: $tab-width - $tab-padding;
        background-color: $tab-empty-color;
        p
        {
          width: $tab-width - $tab-padding;
          transform: rotate(-90deg) translate(-$tab-width + $tab-padding);
        }
      }

      &.Current
      {
        cursor: default;
        z-index: 5;
        background-color: white;

        &:before, &:after
        {
          background-color: white;
        }

        p
        {
          color: rgba(black, 0.80);
        }
      }

      &:not(.Current)
      {
        &:before, &:after, p:before, p:after
        {
          opacity: 0;
        }

        &:hover
        {
          background-color: darken($bg-color, 20%);
        }
      }

      &:before, &:after
      {
        content: "";
        position: absolute;
        background-color: $tab-empty-color;
        width: $tab-border-radius;
        height: $tab-border-radius;
        z-index: -1;
        transition: $tab-transition;
        opacity: 1;
      }

      &:before
      {
        top: $tab-border-radius * -1;
        right: 0;
      }

      &:after
      {
        bottom: $tab-border-radius * -1;
        right: 0;
      }

      p
      {
        width: $tab-width - $tab-padding;
        height: $tab-width - $tab-padding;

        &:before, &:after
        {
          content: "";
          position: absolute;
          width: $tab-border-radius;
          height: $tab-border-radius * 2;
          background-color: $bg-color;
          transition: $tab-transition;
          z-index: 3;
          opacity: 1;
        }

        &:before
        {
          border-bottom-left-radius: $tab-border-radius;
          right: $tab-border-radius * -1;
          bottom: 0;
        }

        &:after
        {
          border-bottom-right-radius: $tab-border-radius;
          left: $tab-border-radius * -1;
          bottom: 0;
        }
      }
    }
  }
}
